/interpreter/buildTools
/documentation/*.aux
/documentation/*.dvi
/documentation/*.log
/documentation/*.out
/documentation/*.pdf
/documentation/*.toc
/documentation/version.tex
/grammar_pure/EBNF_extractor/build
/grammar_pure/EBNF_extractor/src/EBNF_Grammar*
/grammar_pure/EBNF_extractor/*.jar
/grammar_pure/Pure.tokens
/grammar_pure/PureLexer.java
/grammar_pure/PureLexer.tokens
/grammar_pure/PureParser.java
/grammar_pure/*.class
/grammar_pure/Pure.g
/interpreter/core/src/main/java/org/randoom/setlx/grammar
/interpreter/*/target
/interpreter/*.jar
/Tutorial/*.?00pk
/Tutorial/*.aux
/Tutorial/*.dvi
/Tutorial/*.log
/Tutorial/*.out
/Tutorial/*.pdf
/Tutorial/*.toc
/Tutorial/_region_.prv/
/Tutorial/tutorial.prv/
/Tutorial/tutorial.bbl
/Tutorial/tutorial.blg
/Tutorial/tutorial.synctex.gz
/Tutorial/auto
/Tutorial/_region_.synctex.gz
/Tutorial/_region_.tex
/diff.*.result
/developmentGuide.pdf
/manual.pdf
/tutorial.pdf
/setlX_*.zip

# IntelliJ Files
/.idea
*.iml
/out
