accounting/
older_versions/
setlX/documentation/version.tex
setlX/grammar_pure/EBNF_extractor/*.class
setlX/grammar_pure/EBNF_extractor/EBNF_Grammar.tokens
setlX/grammar_pure/EBNF_extractor/EBNF_GrammarLexer.java
setlX/grammar_pure/EBNF_extractor/EBNF_GrammarParser.java
setlX/grammar_pure/Pure.tokens
setlX/grammar_pure/PureLexer.java
setlX/grammar_pure/PureParser.java
setlX/grammar_pure/*.class
setlX/src/antlr/antlr-*-complete.jar
setlX/src/bin
setlX/src/java-src/grammar/SetlXgrammar.tokens
setlX/src/java-src/grammar/SetlXgrammarLexer.java
setlX/src/java-src/grammar/SetlXgrammarParser.java
setlX/src/setlX.jar
setlX/developmentGuide.pdf
setlX/manual.pdf
task/
test_interpreter/
setlX_*.zip

